/* Editor.js Custom Styling */
.ce-block__content {
    max-width: none !important;
    margin: 0 1rem;
}

.ce-toolbar__content {
    max-width: none !important;
}

.codex-editor__redactor {
    padding-bottom: 40px !important;
}

.ce-paragraph {
    padding: 0 1rem;
}

.ce-header {
    padding: 0 1rem;
}
