name: Build

on:
  pull_request:
    branches: [main, development, v1]

permissions:
  contents: read

jobs:
  frontend:
    name: Frontend Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Cache Node Modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}

      - name: Install Node dependencies
        run: npm ci

      - name: Build assets
        run: npm run build
